* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Corrected box-sizing */
}

body {
    background-color: #588157;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.box {
    height: 19vmin;
    width: 19vmin;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 10vmin;
    color: red;
    background-color: white; /* Background for boxes */
    transition: background-color 0.3s; /* Smooth transition */
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Hover effect */
}

#reset-btn {
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #14213d;
    color: #a8dadc;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer; /* Pointer cursor for button */
}

#reset-btn:hover {
    background-color: #fca311; /* Change color on hover */
}
